@import "../../style/config";

.portfolio {
  color: $color-light-white;
  padding: 3.5rem 6rem 1rem 6rem;

  &__header {
    padding-top: 1rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: $font-secondary;
      font-size: 55px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;

      span {
        color: $color-light-blue;
      }
    }

    p {
      text-transform: uppercase;
      font-size: 15px;
      position: relative;
    }
    p::before {
      content: " ";
      position: absolute;
      top: 10px;
      left: -50px;
      width: 2rem;
      height: 2px;
      background-color: $color-light-blue;
    }
    p::after {
      content: " ";
      position: absolute;
      top: 10px;
      right: -50px;
      width: 2rem;
      height: 2px;
      background-color: $color-light-blue;
    }
  }

  &__body {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(16rem, 22rem));
    // ##### use this line of code when we have more than three projects up running on your portfolio
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    grid-gap: 1rem;

    &--img {
      width: 100%;
      // height: 100%;
      position: relative;

      img {
        width: 100%;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
      figcaption {
        opacity: 0;
        visibility: hidden;

        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .subPortfolio {
        display: block;

        &__content--img {
          position: relative;

          button {
            background: inherit;
            border: none;
            outline: none;

            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;

            svg {
              width: 30px;
              height: 30px;
              fill: $color-light-black-1;
            }
          }
        }

        &__content--button button {
          cursor: pointer;
        }
      }
      .subPortfolioClose {
        display: none;
      }
    }

    &--img:hover figcaption {
      opacity: 1;
      visibility: visible;

      // here we position the word within the "figcaption"
      // then give the area of "figcaption" as same as the "figure
      // then using flex box we centered in middle
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 25px;
      }
    }
    &--img:hover .project--image {
      opacity: 0.5;
    }
  }

  // ###################### media query  #########
  & {
    @media only screen and (max-width: 500px) {
      padding: 2rem 1rem 1rem 1rem;
    }
  }
  &__header {
    @media only screen and (max-width: 500px) {
      margin-top: 15px;
    }
    @media only screen and (max-width: 318px) {
      margin-top: 0;
    }
    h1 {
      @media only screen and (max-width: 985px) {
        font-size: 50px;
        padding-bottom: 4px;
      }

      @media only screen and (max-width: 700px) {
        font-size: 40px;
      }
      @media only screen and (max-width: 500px) {
        padding-bottom: 6px;
        box-sizing: content-box;
      }
    }
    p {
      @media only screen and (max-width: 985px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 700px) {
        font-size: 13px;
      }
    }

    p::before {
      @media only screen and (max-width: 700px) {
        display: none;
      }
    }

    p::after {
      @media only screen and (max-width: 700px) {
        display: none;
      }
    }
  }

  &__body {
    &--img:hover figcaption h3 {
      @media only screen and (max-width: 500px) {
        font-size: 20px;
      }
    }
  }
}

// ##############################################################
//  CSS FOR subPortfolio class
// ###########################################################
.subPortfolio {
  background-color: #303030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  z-index: 111;
  opacity: 1;
  margin: 0 auto;

  &__content {
    padding: 0 1rem;

    h2 {
      color: $color-light-blue;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
      padding: 0.7rem 0 0.5rem 0;
    }

    &--button {
      margin: 2rem 0 1rem 0;
      display: flex;
      justify-content: space-between;

      button {
        padding: 8px 2.5rem;
        border: none;
        border-radius: 20px;

        font-size: 15px;
        outline: none;
      }
      button:hover {
        background: $color-light-blue;
        color: $color-light-white;
      }
    }
  }

  // ###################### media query  #########

  @media only screen and (max-width: 800px) {
    width: 400px;
  }
  @media only screen and (max-width: 700px) {
    width: 350px;
  }
  @media only screen and (max-width: 600px) {
    width: 300px;
  }
  @media only screen and (max-width: 500px) {
    width: 250px;
  }

  &__content {
    &--button {
      @media only screen and (max-width: 500px) {
        flex-direction: column;
        // align-items: center;
      }

      button {
        @media only screen and (max-width: 500px) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
