@import "../../style/config";
.contact {
  color: $color-light-white;
  padding: 3.5rem 6rem 1rem 6rem;

  &__header {
    padding-top: 1rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: $font-secondary;
      font-size: 55px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;

      span {
        color: $color-light-blue;
      }
    }

    p {
      text-transform: uppercase;
      font-size: 15px;
      position: relative;
    }
    p::before {
      content: " ";
      position: absolute;
      top: 10px;
      left: -50px;
      width: 2rem;
      height: 2px;
      background-color: $color-light-blue;
    }
    p::after {
      content: " ";
      position: absolute;
      top: 10px;
      right: -50px;
      width: 2rem;
      height: 2px;
      background-color: $color-light-blue;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 2fr;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    // start of left body
    &--left {
      padding-left: 1rem;
    }
    &--lists {
      list-style: none;
    }

    &--item:not(:last-child) {
      margin-bottom: 1.2rem;
    }
    &--item svg {
      width: 1.1rem;
      height: 1.1rem;
      fill: $color-light-blue;

      margin-right: 10px;
      transform: translateY(3px);
    }
    &--item span:first-of-type {
      display: block;
      color: $color-grey-4;
      margin-bottom: 4px;
    }

    .social--profile {
      .svg--facebook,
      .svg--twitter,
      .svg--youtube,
      .svg--github {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 1px solid $color-light-blue;
        border-radius: 50%;
        margin-right: 8px;
        margin-top: 4px;

        a {
          text-decoration: none;
        }
        svg {
          transform: translate(7px, 6px);
          transition: all 0.4s;
        }
      }
      .svg--facebook:hover,
      .svg--twitter:hover,
      .svg--youtube:hover,
      .svg--github:hover {
        background-color: $color-light-blue;
      }

      .svg--facebook:hover svg,
      .svg--twitter:hover svg,
      .svg--youtube:hover svg,
      .svg--github:hover svg {
        fill: $color-light-white;
      }
    }
    // end of left body
    // start right body part

    &--right {
      .contact__body--content {
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        form {
          width: 90%;
          display: flex;
          flex-direction: column;
        }
        // // #### for chrome browser we can use this  ######
        // #placeholder--padding::placeholder {
        //   padding-left: 2rem;
        // }

        #placeholder--padding {
          padding-left: 2.8rem;
        }
        .form__name input[type="text"],
        .form__email input[type="email"],
        .form__comment textarea,
        .form__button button {
          width: 100%;
          border: none;
          border-radius: 26px;
          background: $color-grey-2;
          outline: none;
          color: $color-light-white;
        }
        .form__name {
          margin-bottom: 8px;

          svg {
            width: 0.9rem;
            height: 0.9rem;
            fill: $color-grey-1;

            transform: translate(18px, 36px);
          }
          input[type="text"] {
            height: 3rem;
          }
        }

        .form__email {
          margin-bottom: 10px;

          svg {
            width: 1.1rem;
            height: 1.1rem;
            fill: $color-grey-1;

            transform: translate(18px, 38px);
          }
          input[type="email"] {
            height: 3rem;
          }
        }

        .form__comment {
          margin-bottom: 3px;

          svg {
            width: 1rem;
            height: 1rem;
            fill: $color-grey-1;

            transform: translate(18px, 38px);
          }
          textarea {
            height: 6rem;
            font-family: $font-primary;
            padding-top: 13px;
          }
        }

        .form__button {
          // this make the button to came to the begining and shrink instead of occupying 100% of width
          align-self: flex-start;
          svg {
            width: 1.3rem;
            height: 1.3rem;
            fill: $color-light-white;

            transform: translate(18px, 42px);
          }
          button {
            height: 3rem;
            font-size: 15px;
            text-transform: uppercase;

            padding: 0 1rem 0 1.5rem;
            background: $color-light-blue;
          }
        }
      }
    }
  }

  // ###################### media query  #########
  & {
    @media only screen and (max-width: 985px) {
      padding: 2rem 1rem 1rem 1rem;
    }
  }

  &__header {
    @media only screen and (max-width: 500px) {
      padding-left: 1rem;
    }
    h1 {
      @media only screen and (max-width: 985px) {
        font-size: 50px;
        padding-bottom: 4px;
      }

      @media only screen and (max-width: 700px) {
        font-size: 40px;
      }
    }

    p {
      @media only screen and (max-width: 985px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 700px) {
        font-size: 13px;
      }
    }

    p::before {
      @media only screen and (max-width: 700px) {
        display: none;
      }
    }

    p::after {
      @media only screen and (max-width: 700px) {
        display: none;
      }
    }
  }

  &__body {
    @media only screen and (max-width: 985px) {
      font-size: 15px;
    }

    @media only screen and (max-width: 780px) {
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: 700px) {
      font-size: 14px;
    }
    &--right {
      @media only screen and (max-width: 985px) {
        padding-right: 1rem;
      }
      @media only screen and (max-width: 780px) {
        margin-top: 2rem;
        padding-left: 1rem;
      }
    }
  }
}
